body{
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
    color: #333;
}
nav {
    display: flex;
    gap: 15px;
    font-weight: bold;
}
.higlight{
    background-color: #d4c55a;
    padding: 2px 8px;
    border-radius: 4px;
}
.bold{
   font-weight: bold;
}
h2 span{
    background-position: center;
    text-decoration: underline dotted;
}
.center{
    text-align: left;
    padding-left: 40px;
}
#para{
    font-weight: bold;
    background-color: aqua;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}
table{
    border-collapse: collapse;
    width: 80%;
}
table, th,td{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
h2{
    margin-left: 20px;
}



























